.form {
    padding: 40px;
    box-shadow: 1px 1px 1px black;
    background-color: #cacaca;
    background-image: url("../images/background.png");
    background-size: 135px;
    background-repeat: no-repeat;
    max-width: 900px;
    text-align: center;
}

.form__label {
    font-weight: bold;
    max-width: 700px;
    background-color: #fff;
}

.form__label--OwnPadding {
    padding: 0px 5px;
}

.form__label--rates {
    font-size: small;
    font-style: italic;
}

.form__labelEUR {
    padding-left: 5px;
    color: #f50808;
    text-decoration: underline;
}

.form__labelUSD {
    padding-left: 5px;
    color: #4aab04;
    text-decoration: underline;
}

.form__labelGBP {
    padding-left: 5px;
    color: #172496;
    text-decoration: underline;
}